@charset "UTF-8";

@font-face {
    font-family: 'slabo';
    src: url('../ex023/fontes/Slabo.ttf');
}
:root {
    --fonte-padrão: 'Slabo',serif
}
body {
    font-family: var(--fonte-padrão);
}

caption {
    font-size: 1.5em;
    background-color: lightgray;
    border: 1px;
    padding: 10px;
}

table {
    width: 500px;
    border-collapse: collapse;
}
td, th, caption {
    border: 1px solid black;
    padding: 10px;
}
thead, tfoot {
    background-color: gray;
    color: black;
}
tbody > tr:nth-child(2n) {
    background-color: gray;

}
td.num {
    text-align: center;
}
