@charset "UTF-8";

/* Versão Mobile first */

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    background:  black url(../back-phone.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

main {
    background-color: rgba(255, 255, 255, 0.705);
    width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
}

h1 {
    text-align: center;
    font-size: 2em;
    color: #ffff;
    text-shadow: 3px 3px 5px black;
}

img#phone {display: block;
    margin: auto;
}
img#pc {display: none;
    margin: auto;
}
img#tv {display: none;
    margin: auto;
}
img#print {display: none;    
    margin: auto;
}
img#tablet {display: none;  
    margin: auto;
}